@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Ysabeau';
  src: url('./polices/YsabeauSC.ttf');
}
@font-face {
  font-family:'Montserrat';
  src: url('./polices/Montserrat.ttf');
}

@layer base {
  *, header{
    font-family: 'Montserrat';
    font-size: 12px;
  }
  h1, h2, h3{
    font-family: 'Ysabeau';
    font-weight: bold;
  }

  h1{
    font-size: 2.5em;
    
  }
  h2{
    font-size: 1.5em;
    
  }
  h3{
    font-size: 1.25em;
    
    text-decoration: underline;
  }

  p{
    font-weight: 600;
    font-size: em;
    color: #324749;
  }
  @screen md {
    *, header{
      font-size: 14px;
    }
  }
}

@layer utilities {
  .pres{
    background-image: url('./img/rectangle-pres.png');
  }

  .try{
    position: -webkit-sticky;
    position: fixed;
    height: 100vh;
    top: 90px;
    border-right: 1px solid lightgray;
    font-weight: bold;
  }
/* 
  .page{
    max-height: 100vh;
    overflow-y: scroll;
  } */
}