@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Ysabeau';
  src: url('./polices/YsabeauSC.ttf');
}
@font-face {
  font-family:'Montserrat';
  src: url('./polices/Montserrat.ttf');
}

@layer base {
  *{
    font-family: 'Montserrat';
  }
  h1, h2, h3{
    font-family: 'Ysabeau';
  }

  h1{
    font-size: 1.5em;
    font-weight: bold;
  }
  h2{
    font-size: 1.3em;
    font-weight: bold;
  }
  h3{
    font-size: 1.2em;
  }

  p{
    font-weight: 600;
    font-size: em;
    color: #324749;
  }
  @screen lg {
    h1{
      font-size: 1.8em;
    }
    h2{
      font-size: 1.4em;
    }
    h3{
      font-size: 1.2em;
    }
  }
}

@layer utilities {
  .pres{
    background-image: url('./img/rectangle-pres.png');
  }

  .try{
    position: -webkit-sticky;
    position: fixed;
    height: 100vh;
    top: 90px;
    border-right: 1px solid lightgray;
    font-weight: bold;
  }
/* 
  .page{
    max-height: 100vh;
    overflow-y: scroll;
  } */
}